*{
    margin-left: 10px;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
  
    
}

.nav-items{
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin: 20px;
    color: #1f2873;
    font-family: "Roboto";

}
.signin-btn{
    margin-right: 200px;
    color: #fff;
    background: linear-gradient(90deg, #965cf2, #ff8adc);
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 20px;
}


.intro-section{
    display: flex;
    flex-direction: row;
}

.left-section{
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.left-section h1{

    color: #3e4794;
    font-size: 5rem;

}

.left-section h4{
    width: 400px;
    color: #758283;
}

.learn-more-btn{
    margin-top: 40px;
    height: 70px;
    width: 280px;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    color: #fff;
    background: linear-gradient(90deg, #965cf2, #ff8adc);
}

.imgs-div{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backcover{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}
.vector-img{
    position: relative;
    top: 150px;
}

.vector-dot{
    position: relative;
    top: 100px;
    right: 50px;
}
